@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Imports fonts used in the webpage */
@font-face {
  font-family: GeosansLight;
  src: url(assets/fonts/GeosansLight.ttf);
}

@font-face {
  font-family: Webly Sleek;
  src: url(assets/fonts/weblysleekuil.ttf);
}

@font-face {
  font-family: Webly Sleek Kursiv;
  src: url(assets/fonts/weblysleekuili.ttf);
}

html, body {
  margin: 0;
  height: 100%;
  background-color: #1E2339;
}

* {
  font-family: GeosansLight;
}

.mat-select-value, .mat-input-placeholder  {
  font: 14px GeosansLight !important;
  text-align: center;
  top:13px;
  font-weight: lighter;
}

.selectSearch .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow, .mat-select-value,
.selectGenre .mat-input-wrapper .mat-input-flex .mat-input-infix .mat-input-placeholder-wrapper .mat-input-placeholder,
.selectGenre .mat-input-wrapper .mat-input-flex .mat-input-infix span .mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow
{
  color: rgba(254,253,253,0.4) !important;
}

.mat-form-field-underline, .mat-form-field-ripple {
  background-color: transparent !important;
}

.mat-form-field-infix {
  border-top:none;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder {
  transform: scale(.0);
}


.mat-paginator-page-size-select, .mat-input-infix .mat-select .mat-select-trigger .mat-select-value .mat-select-value-text, .mat-select-arrow {
  color: #1E2339 !important;
}

.mat-paginator-page-size-select {
  height: 30px;
  background-color: #FEFDFD;
  border: 1px solid rgba(0,0,0,.54);
}
