@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: GeosansLight;
  src: url(assets/fonts/GeosansLight.ttf);
}

html, body {
  margin: 0;
  height: 100%;
}

.mat-form-field-infix {
  text-align: center;
}
