<div class="profile-container">
  <mat-card class="profile-card">
    <div class="profileheader">
        <p class="profile-head">MY PAGE</p>
        <button class="logout-button" mat-button (click)="onLogout()">Logout</button>
    </div>
    <mat-tab-group selectedIndex="0" [@.disabled]="true">
      <mat-tab label="Profile">
          <h4 class="title">Your profile information</h4>
          <hr class="card-hr">
        <mat-card-header class="mat-card-header">
          <mat-card-title>
            <p>Username:</p><p id="profileusername"><strong>{{user}}</strong></p>
          </mat-card-title>
          <img src="https://source.unsplash.com/random/200x200">
        </mat-card-header>

        <hr class="card-hr">

        <mat-card-content class="mat-card-content">
          <p>Change Account Information</p>
          <form class="password-form" #newPasswordForm="ngForm" (ngSubmit)="onNewPassword(newPasswordForm)">
            <mat-form-field>
              <input matInput placeholder="Old Password" type="password" name="oldPassword" ngModel/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="New Password" type="password" name="newPassword" ngModel/>
            </mat-form-field>
            <br>
            <button class="save-button" mat-button>Save password</button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="History">
        <h4 class="title">Recently viewd movies</h4>
        <hr class="card-hr">
        <mat-grid-list cols="4" rowHeight="1:1.45" gutterSize="12px" [class.show]="!show" class="gridList">
          <mat-grid-tile *ngFor="let movie of userHistory" (click)="openDialog(movie)" title={{movie.title}}>
            <img id="gridPoster" src="{{movie.poster}}" alt="">
            <mat-grid-tile-footer id="historyTitle">{{movie.title}}</mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>

      <mat-tab label="Favourites">
        <h4 class="title">Your favourite movies</h4>
        <hr class="card-hr">
        <div>
          <mat-grid-list cols="4" rowHeight="1:1.45" gutterSize="12px" [class.show]="!show" class="gridList">
            <mat-grid-tile *ngFor="let favorite of favorites" (click)="openDialog(favorite)" title={{favorite.title}}>
              <img id="gridPoster" src="{{favorite.poster}}" alt="">
              <mat-grid-tile-footer id="favTitle">{{favorite.title}}</mat-grid-tile-footer>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
