<div class="profile-container">
  <mat-card class="profile-card">
    <button class="logout-button" mat-button (click)="onLogout()">Logout</button>
    <mat-tab-group selectedIndex="0" [@.disabled]="true">
      <mat-tab label="Profile">
        <mat-card-header class="mat-card-header">
          <mat-card-title>
            <strong>{{user}}</strong>
          </mat-card-title>
          <img src="https://source.unsplash.com/random/200x200">
        </mat-card-header>

        <hr class="card-hr">

        <mat-card-content class="mat-card-content">
          <p>Change Account Information</p>
          <form class="password-form" #newPasswordForm="ngForm" (ngSubmit)="onNewPassword(newPasswordForm)">
            <mat-form-field>
              <input matInput placeholder="Old Password" type="password" name="oldPassword" ngModel/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="New Password" type="password" name="newPassword" ngModel/>
            </mat-form-field>
            <br>
            <button class="save-button" mat-button>Click me!</button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Search History">
        <h3>Search History</h3>
        <p>Future table of content</p>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
