<div class="profile-container">
  <mat-card class="profile-card">
    <div class="profileheader">
        <p class="profile-head">MY PAGE</p>
        <button class="logout-button" mat-button (click)="onLogout()">Logout</button>
    </div>
    <mat-tab-group selectedIndex="0" [@.disabled]="true">
      <mat-tab label="Profile">
          <h4 class="title">Your profile information</h4>
          <hr class="card-hr">
        <mat-card-header class="mat-card-header">
          <mat-card-title>
            <p>Username:</p><strong>{{user}}</strong>
          </mat-card-title>
          <img src="https://source.unsplash.com/random/200x200">
        </mat-card-header>

        <hr class="card-hr">

        <mat-card-content class="mat-card-content">
          <p>Change Account Information</p>
          <form class="password-form" #newPasswordForm="ngForm" (ngSubmit)="onNewPassword(newPasswordForm)">
            <mat-form-field>
              <input matInput placeholder="Old Password" type="password" name="oldPassword" ngModel/>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="New Password" type="password" name="newPassword" ngModel/>
            </mat-form-field>
            <br>
            <button class="save-button" mat-button>Save password</button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Search History">
        <h4 class="title">Search History</h4>
        <hr class="card-hr">
        <p>Future table of content</p>
        <mat-nav-list>
            <mat-list-item *ngFor="let search of searches"> {{ search }} </mat-list-item>
        </mat-nav-list>
      </mat-tab>

      <mat-tab label="Favourites">
        <h4 class="title">Your favourite movies</h4>
        <hr class="card-hr">
        <p>Future table of content</p>
        <mat-nav-list>
            <mat-list-item *ngFor="let favourite of favorites"> {{ favourite }} </mat-list-item>
        </mat-nav-list>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
