<div class="searchWrap">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search for Top Movies">
          <mat-hint><strong></strong>Type in Title, Year or Genre and hit enter to save the search if you are logged in </mat-hint>
        </mat-form-field>
      </form>
</div>
<div id="viewBtnWrap">
  <span matTooltip="Grid View"><button mat-button routerLink="/grid"><mat-icon class="viewGrid">view_comfy</mat-icon></button></span>
  <span matTooltip="List View"><button mat-button routerLink="/list"><mat-icon class="viewList">view_list</mat-icon></button></span>
</div>
<mat-grid-list  cols="4" rowHeight="1:1.5" gutterSize="12px">
      <mat-grid-tile *ngFor="let movie of movies" (click)="openDialog(movie)"><img id="gridPoster" src="{{movie.poster}}" alt=""><mat-grid-tile-footer>{{movie.title}}</mat-grid-tile-footer></mat-grid-tile>
</mat-grid-list>
