/* Structure: Table */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 45%;
  margin: auto;
  text-align: center;

}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  height: auto;
  padding-bottom: 20px;
}

/* Structure: Search form */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 18px;
}

.example-full-width {
  width: 100%;
}

.mat-hint {
  padding-left: 25px;
}

.mat-header-cell{
  font-weight: 900;
  font-size: 21px;
}

.mat-cell{
  font-size: 18px;
}

.mat-row {
  transition: all 0.185s ease;
}

.mat-row:hover {
  border-bottom-color: #8ca2d2;
  border-bottom-width: 1px;
  border-top-color: #8ca2d2;
  border-top-style: solid;
  border-top-width: 1px;
  font-weight: 500;
  cursor: pointer;
}

.mat-header-row, .mat-row {
  font-family: GeosansLight;
}
