<div class="searchWrap">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search for Top 50 Movies">
      <mat-hint><strong></strong>Type in Title, Year or Genre and hit enter to save the search if you are logged in </mat-hint>
    </mat-form-field>
  </form>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
    </ng-container>

    <!-- Genre Column -->
    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.genre}} </mat-cell>
    </ng-container>

    <!-- Director Column -->
    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.director}} </mat-cell>
    </ng-container>

    <!-- Runtime Column -->
    <ng-container matColumnDef="runtime">
      <mat-header-cell *matHeaderCellDef> Runtime </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.runtime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="this.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>
