
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.movies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.movies li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.movies li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.movies li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.movies .text {
  position: relative;
  top: -3px;
}
.movies .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* Structure: Table */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 90%;
  margin: auto;
  text-align: center;

}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  height: auto;
  padding-bottom: 20px;
}


/* Structure: Search form */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 18px;
}

.example-full-width {
  width: 100%;
}

.mat-form-field-infix {
  text-align: center !important;
}

.mat-hint {
  padding-left: 25px;
}

.mat-form-field-infix {
  text-align: center !important;
}
