/* Movie Table */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 65%;
  margin: auto;
  text-align: center;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  height: auto;
  padding-bottom: 20px;
}

/* Search form */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 18px;
}

.example-full-width {
  width: 100%;
}

.mat-hint {
  padding-left: 25px;
}

.mat-header-cell{
  font-weight: 900;
  font-size: 21px;
}

.mat-cell{
  font-size: 18px;
}

.mat-row{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
  transition-delay: 0.075s;
}

.mat-row:before{
  transition-delay: 0.075s;
}

.mat-row:after{
  transition-delay: 0.75s;
}

.mat-row:hover {
  border-bottom-color: #8ca2d2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #8ca2d2;
  border-top-width: 1px;
  border-top-style: solid;
  font-weight: bold;
  cursor: pointer;
}

.mat-header-row, .mat-row {
  font-family: GeosansLight;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {

  font-family: GeosansLight;
  font-size: 16px;
}

.mat-select-value-text span {
  font-family: GeosansLight;

}

.mat-select-value{
  font-family: GeosansLight;

}

.mat-option {
  font-family: GeosansLight !important;
}
.mat-option-text{
  font-family: GeosansLight !important;
}
