<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <hr>
    <form class="password-form">
      <mat-form-field class="login-username">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="login-password">
        <input matInput placeholder="New Password" type="password"/>
      </mat-form-field>
      <button class="save-button" mat-button>Click me!</button>
    </form>
  </mat-card>
</div>
