<div class="login-container">

  <mat-card class="register-login-card">
  <mat-tab-group selectedIndex="0" class="tabGroup" [@.disabled]="true">

    <mat-tab label="Login">
      <form class="password-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <div class="field">
          <label for="login-usrn">Username</label>
          <input class="login-username" id="login-usrn" placeholder="Username" name="username" ngModel>
        </div>
        <div class="field">
          <label for="login-pass">Password</label>
          <input class="login-password" id="login-pass" placeholder="Password" type="password" name="password" ngModel>
        </div>
        <button class="save-button" mat-button>Login</button>
      </form>
    </mat-tab>

    <mat-tab label="Register">
      <form class="password-form" #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <div class="field">
          <label for="login-usrnReg">Username</label>
          <input class="login-username" id="login-usrnReg" placeholder="Username" name="username" ngModel>
        </div>
        <div class="field">
          <label for="login-passReg">Password</label>
          <input class="login-password" id="login-passReg" placeholder="Password" type="password" name="password" ngModel>
        </div>
        <button class="save-button" mat-button>Register</button>
      </form>
    </mat-tab>

  </mat-tab-group>
  </mat-card>

</div>

