<div class="login-container">

  <mat-card class="register-login-card">
  <mat-tab-group selectedIndex="0" [@.disabled]="true">

    <mat-tab label="Login">
      <form class="password-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <mat-form-field class="login-username">
          <input matInput placeholder="Username" name="username" ngModel>
        </mat-form-field>
        <mat-form-field class="login-password">
          <input matInput placeholder="New Password" type="password" name="password" ngModel>
        </mat-form-field>
        <button class="save-button" mat-button>Click me!</button>
      </form>
    </mat-tab>

    <mat-tab label="Register">
      <form class="password-form" #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <mat-form-field class="login-username">
          <input matInput placeholder="Username" name="username" ngModel>
        </mat-form-field>
        <mat-form-field class="login-password">
          <input matInput placeholder="New Password" type="password" name="password" ngModel>
        </mat-form-field>
        <button class="save-button" mat-button>Click me!</button>
      </form>
    </mat-tab>

  </mat-tab-group>
  </mat-card>

</div>

