.content{
  display: flex;
  flex-direction: column;
  background-color: #1E2339;
}

/* Movie Table */
.container {
  display: none;
  flex-direction: column;
  min-width: 300px;
  width: 65%;
  text-align: center;
  margin: auto auto 25px auto;
  -webkit-box-shadow: 0px 4px 33px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 33px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 33px 4px rgba(0,0,0,0.75);
  z-index: 0;
}

.changebutton{
    display:none;
}

.mat-table {
  overflow: auto;
  height: auto;
  padding-bottom: 20px;
}

.mat-header-cell{
  font-weight: 400;
  font-size: 21px;
  color: #FEFDFD;
}

.mat-header-row {
  background-color: #34384c;
}

.mat-cell{
  font-size: 18px;
}

.mat-row{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
  transition-delay: 0.075s;
}

.mat-row:before{
  transition-delay: 0.075s;
}

.mat-row:after{
  transition-delay: 0.175s;
}

.mat-row:hover {
  border-bottom-color: #8ca2d2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #8ca2d2;
  border-top-width: 1px;
  border-top-style: solid;
  cursor: pointer;
}

/* Toggle table/grid */
.show {
  display: block;
}

#viewBtnWrap{
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

/* Set navbar to fixed, must be important to override material angular */
.fixedSearch {
  position: fixed !important;
  top: 0;
  z-index: 1;
}

.marginTop {
  margin-top:125px;
}

/* Search functionality */
.title {
  color: #FEFDFD;
  margin: 5px;
  text-align: center;
}

.titleFilter {
  color: rgba(254,253,253,0.4);
  margin: 3px 0 0 0;
}

.mat-button {
  height: 50px;
}

.viewFilter {
  width: 75px;
  height: 25px;
}

.filterArrow {
  color: rgba(254,253,253,0.4);
  top: 5px;
  vertical-align: top;
}

.showFilter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.showFilterToggle {
  display: flex !important;
}

.searchContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  width: 100%;
  padding:0 0 5px 0;
  background-color: #1E2339;
}

.searchOptions {
  display: flex;
  color: #FEFDFD;
  justify-content: space-around;
}

.searchInputField {
  border: 0.5px solid rgba(254,253,253,0.4);
  background-color: #1E2339;
  color: #FEFDFD;
  padding: 10px 15px;
  margin:15px 0 5px 0;
  height: 29px;
  min-width: 300px;
  max-width: 500px;
  font-size: 16px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

.form-check-inline label {
  color: rgba(254,253,253,0.4);
}

.inputYear {
  width: 80px;
  color: rgba(254,253,253,0.4);
}

.inputYearNum, .viewGrid  {
  color: rgba(254,253,253,0.4);
}

.inputYearTextField {
  text-align: center;
  color: rgba(254,253,253,0.4);
  border: 1px solid rgba(254,253,253,0.4);
  background-color: #1E2339;
  height: 25px;
  font-size: 14px;
  width: 60px;
}

.inputYearNum {
  font-size: 9px;
  width: 60px;
  margin-top:3px;
}

.selectSearch, .selectGenre {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #1E2339;
  color: rgba(254,253,253,0.4) !important;
  border: 1px solid rgba(254,253,253,0.4);
  border-radius: 0;
  margin: 15px 15px 5px 0;
  border-left: 0;
}

.selectSearch {
  min-width: 40px;
  max-width: 70px;
  width: auto;
}

.searchOption, .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  font-size: 16px !important;
  height: 2em !important;
  line-height: 2em !important;
}

.mat-form-field-placeholder-wrapper {
  height: auto;
  width: auto;
}

.selectGenre {
  border: 1px solid rgba(254,253,253,0.4);
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 26.5px;
  width: 90px;
}

.filterWrapper {
  display: none;
  justify-content: center;
  height: 40px;
}

/* Grid view */
img{
  height: 100%;
  width: 100%;
}

mat-grid-tile {
  background: white;
  margin: 10px;
  -webkit-box-shadow: 0px 6px 22px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 22px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 22px -2px rgba(0,0,0,0.75);
}

mat-grid-tile:hover mat-grid-tile-footer{
  background-color: #34384c;
  cursor: pointer;
}

.mat-grid-tile:hover {
  cursor: pointer;
  opacity: 0.90;
}

mat-grid-list {
  display: none;
  padding-bottom: 25px !important;
  margin: 0 16.8% 25px 16.8%;
}

.gridList {
  background-color: #1E2339;
}

/* Responsive styles for small screens. */
@media screen and (max-width: 480px) {

  .container {
    width: auto;
    min-width: 100px;
    margin:0;
  }

  .searchBar {
    flex-wrap: wrap;
    margin: 0;
  }

  .searchInputField {
    min-width: 40px;
    padding: 5px;
  }

  .selectSearch {
    padding:5px;
    min-width: 20px;
  }

  .viewButton{
    min-width: 50px;
    width: 50px;
    padding: 0 !important;
  }

  .searchContent {
    padding-top: 0;
  }
}
