<div class="content">
  <h1 class="title">Search Blockbuster for your favourite movies!</h1>
  <div class="searchContent" [class.fixedSearch]="fixedSearch">
  <!-- The class searchbar includes the grid/listview, searchbar and title/director/actor dropdown box  -->
    <div class="searchBar">
      <div id="viewBtnWrap">
      <span matTooltip="{{this.viewTooltip}}">
        <button mat-button class="viewButton" (click)="toggleButton()" aria-label="toggleButton">
          <mat-icon class="viewGrid">{{this.viewIcon}}</mat-icon>
        </button>
      </span>
      </div>

      <span matTooltip="Search movies">
        <input #input class="searchInputField" (keyup)="searchDatabase(input.value.toLowerCase())" autofocus placeholder="Search for movies">
      </span>
      <!-- Returns different values depending on selected dropdown with default to title  -->
      <span matTooltip="Choose search">
        <mat-select class="selectSearch" [value]="1" (change)=setSearch($event)>
            <mat-option class="searchOption mat-selected mat-active" aria-selected="true" [value]="1">
              Title
            </mat-option>
            <mat-option class="searchOption" [value]="2">
              Director
            </mat-option>
            <mat-option class="searchOption" [value]="3">
              Actors
            </mat-option>
        </mat-select>
      </span>
    </div>
    <!-- Filter button is the dropdown for additional search criteria  -->
    <div class="showFilter">
      <p class="titleFilter">Filter search</p>
      <span matTooltip="Show filters">
        <button class="viewFilter" mat-button (click)="toggleFilterButton()">
          <mat-icon class="filterArrow">{{this.arrow}}</mat-icon>
        </button>
      </span>
    </div>
    <!-- Inputs for year and genre  -->
    <div class="filterWrapper" [class.showFilterToggle]="showFilter">
        <div class="inputYear">
          <span matTooltip="From year">
          <input type="tel" class="inputYearTextField" #startYear (keyup)="setYear(startYear.value, 'start')" maxlength=4 placeholder="From" pattern="/^\d{4}$/">
          <p class="inputYearNum" align="end">{{startYear.value.length}} / 4</p>
          </span>
        </div>

        <div class="inputYear">
          <span matTooltip="To year">
          <input type="tel" class="inputYearTextField" #endYear maxlength=4 (keyup)="setYear(endYear.value, 'end')" placeholder="To" pattern="/^\d{4}$/">
          <p class="inputYearNum" align="end">{{endYear.value.length}} / 4</p>
          </span>
        </div>

        <mat-form-field class="selectGenre">
          <span matTooltip="Choose genre">
            <mat-select  multiple placeholder="Genre" (change)=setGenre($event)>
              <mat-option *ngFor="let genre of this.genres" [value]="genre">
                {{ genre }}
              </mat-option>
            </mat-select>
          </span>
        </mat-form-field>

        <mat-form-field class="selectGenre">
          <mat-select placeholder="Sort list by" (change)=setSort($event)>
            <mat-option *ngFor="let sort of sorts" [value]="sort">
              {{ sort }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>

  <div>
    <mat-grid-list cols="{{this.colNum}}" rowHeight="1:1.45" gutterSize="12px" [class.show]="!show" [class.marginTop]="fixedSearch" class="gridList">
      <mat-grid-tile *ngFor="let movie of data" (click)="openDialog(movie)" title={{movie.title}}>
        <img class="gridPoster" src="{{movie.poster}}" alt="">
        <mat-grid-tile-footer>{{movie.title}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <!-- Columns displayed in the listview  -->
  <div class="container mat-elevation-z8" [class.show]="show">

    <mat-table #table [dataSource]="dataSource" >
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
      </ng-container>

      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
      </ng-container>

      <!-- Genre Column -->
      <ng-container matColumnDef="genre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Genre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.genre}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="openDialog(row)"></mat-row>
    </mat-table>
    <!--Sets initial page values on the list  -->
    <mat-paginator #paginator
                   [length]="pageLength"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 25, 50]"
                    (page)= changeValues($event)>
    </mat-paginator>

  </div>
</div>
