.cloudcontainer{
    height:auto;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.cloud{
    text-align: center;
    font-size: 150%;
}
.cloudtitle{
    text-align: center;
    color: rgba(255,255,255,0.87);
    font-size: 17px;
}
