<div>
  <h2 mat-dialog-title>{{data.title}} ({{data.year}})</h2>
  <hr>
  <mat-dialog-content>
    <p><img src="{{data.poster}}"/></p>
    <p>{{data.genre}}</p>
    <p>{{data.director}}</p>
    <p>{{data.runtime}}</p>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()"><mat-icon class="playIcon">stars</mat-icon></button>
    <button mat-raised-button (click)="onCloseCancel()"><mat-icon class="playIcon">cancel</mat-icon></button>
  </mat-dialog-actions>
</div>
