<div class="popUpBox">
  <div class="popupHeader">
    <div class="titleContainer">
      <h2 mat-dialog-title>{{data.title}} ({{data.year}})</h2>
      <span class="subTitle">Movie / {{data.runtime}} / {{data.genre}}</span>
    </div>
    <div class="modalIcons">
      <div *ngIf="data.auth">
        <div *ngIf="buttonClicked">
          <button class="favButton"  mat-raised-button (click)="toggleFavorite(data._id, data.favorited)">
            <mat-icon class="favIcon" [class.favorite_clicked]="yellow">stars</mat-icon>
          </button>
        </div>
        <div *ngIf="!buttonClicked">
          <button class="favButton"  mat-raised-button (click)="toggleFavorite(data._id, data.favorited)">
            <mat-icon class="favIcon" [class.favorite_clicked]="data.favorited">stars</mat-icon>
          </button>
        </div>
      </div>
      <button class="favButton" mat-raised-button (click)="onCloseCancel()">
        <mat-icon class="favIcon">cancel</mat-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content class="modalContent">
    <!--<div class="imageWrap"><img src="{{data.poster}}" class="posterImage"/></div> -->
    <div class="infoContainer">
      <span class="infoType">Director:</span>
      <span class="infoDetails">{{data.director}}</span>
    </div>
    <div class="infoContainer">
      <span class="infoType">Actors:</span>
      <span class="infoDetails">{{data.actors}}</span>
    </div>
    <p>{{data.plot}}</p>
    <a *ngIf="data.readMore !== 'N/A'" class="readMore" target="_blank" href="{{data.readMore}}">Read more</a>
  </mat-dialog-content>

</div>
