/* Movie Popup */
.popUpBox{
  width: 450px;
  color: #FEFDFD;
}

.mat-dialog-container {
  background-color: #34384c !important;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.titleContainer h2 {
  margin-bottom: 0;
}

.subTitle {
  font-size: 14px;
  color: rgba(254,253,253,0.4);
}

.favIcon {
  font-size: 24px;
  position: absolute;
  top:7px;
  left:7px;
  transform: scale(1.1,1.0);
}

.favButton {
  box-shadow: none;
  background-color: #34384c;
  width: 40px;
  min-width: 40px;
  padding: 0;
  height: 40px;
  margin-left:10px;
}

.posterImage {
  width: 200px;
  height: 280px;
}

.imageWrap{
  text-align: left;
}

.favorite_clicked {
  background-color: #FCA311;
  border-radius: 50px;
}

.modalIcons {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.modalContent {
  background-color: #FEFDFD;
  color: #1E2339;
  padding-bottom: 15px;
}

.infoContainer {
  margin-top: 15px;
}

.infoType {
  font-weight: bold;
}

.infoDetails {
  font-style: italic;
}

.readMore {
  color: #3f94b5;
}

.readMore:hover {
  color: #1E2339;
}
